body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #fc1e8a;
    user-select: none;
}

.container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    background: linear-gradient(
        325deg,
        #03001e 0%,
        #7303c0 30%,
        #ec38bc 70%,
        #fdeff9 100%
    );
    padding: 40px 60px;
}

h2 {
    font-size: 3em;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: .1em;
}

.reset {
    padding: 15px 20px;
    width: 100%;
    color: #000;
    background-color: #fff;
    border: none;
    font-size: 1.5em;
    letter-spacing: .1em;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 600;
}

.reset:focus {
    color: #ec38bc;
    background-color: #262809;
}

.game {
    width: 430px;
    height: 430px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    transform-style: preserve-3d;
    perspective: 500px;
}

.item {
    position: relative;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;

    font-size: 3em;
    transform: rotateY(180deg);
    transition: 0.5s;
}

.item::after {
    content: "";
    position: absolute;
    inset: 0;
    background: #404040;
    transition: .25s;
    /* opacity: 0.8; */
    transform: rotateY(0deg);
    backface-visibility: hidden;
}

.item.boxOpen {
    transform: rotate(0deg);
}
.boxOpen::after,
.boxMatch::after {
    transform: rotateY(180deg);
}

.modal {
    width: 100%;
    height: 100%;
    background-color: #000000bb;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    z-index: -1;
    transition: opacity .5s;
    user-select: none;
}

#game-over-container {
    width: 500px;
    padding: 16px;
    box-shadow: 0 0 10px #176061 inset;
    background: linear-gradient(
        325deg,
        #03001e 0%,
        #7303c0 30%,
        #ec38bc 70%,
        #fdeff9 100%
    );
    letter-spacing: .1rem;
    text-align: center;
    border-radius: 15px;
}

#game-over-container > * {
    margin: 10px;
    font-size: 2rem;
    color: #fff;
    text-shadow: 0 0 10px #28595a;
}

#btn-modal {
    padding: 15px;
    width: 100%;
    color: #000;
    background-color: #fff;
    border: none;
    font-size: 1.5em;
    letter-spacing: .1em;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 600;
}

hr {
    box-shadow: 0 0 5px #325b5c;
}